.home-container {
  display: flex;
  justify-content: center;
  /* Horizontal */
  align-items: center;
}

/* Hero Bereich */
.hero-section {
  text-align: center;
}

/* Willkommen Text */
.welcome-text {
  font-size: 48px;
  color: deepskyblue;
  margin-bottom: 20px;
  animation: fadeDown 0.8s ease;
}

/* Logo */
.hero-logo {
  width: 600px;
  max-width: 90%;
  margin-bottom: 25px;
}

/* Slogan */
.slogan {
  font-size: 24px;
  letter-spacing: 5px;
  color: blue;
}

/* Animation */
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loginbox {
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: white;
}

.containert {
  
  width: 100%;
  padding: 15vh 10vw;
 
  
  
  z-index: 2000;
  text-align: center;
  display: flex;
  justify-content: center; /* horizontale Zentrierung */
  align-items: center; /* vertikale Zentrierung */
  height: 100vh; /* volle Höhe des Viewports */
  margin: 0; /* keine Standard-Margin */
}